.midSection {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  /* background-color: black; */

  background-image: url("../../../public/images/footer-bg.jpg");
  background-size: cover; /* Adjust the image size to cover the container */
  background-position: center; /* Position the image in the center of the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.leftSection {
  flex: 0.25;
  padding: 5px;
  /* margin-left: 30px; */
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: none;
}

.topRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  background-color: none;
}

.rightSection {
  flex: 0.75;
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* background-color:white */
  justify-self: flex-end;
}
.h1{
  color: azure;
  padding-left: 30px;
}

.bottomRow {
  margin-top: 5px;
  /* padding-right: 5px; */
  /* margin-right: 10px; */
  padding-left: 20px ;
  background-color: none;
  border-radius: 5px;
  /* max-height: 600px; */
  height: 500px;

  overflow-y: auto; /* Enable vertical scrolling */
}

/* Mobile Styles */
@media (max-width: 1000px) {
  .midSection {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    align-items: center;
    margin-bottom: 100px;
  }
}