/* 

.map {
  width: 900px;
  height: 550px;
}

@media (max-width: 1439px) {
  .map {
    height: 600px;
    width: 600px;
  }
}
@media (max-width: 1024px) {
  .map {
    height: 500px;
    width: 500px;
  }
}
@media (max-width: 768px) {
  .map {
    height: 600px;
    width: 600px;
  }
}

@media (max-width: 630px) {
  .map {
    height: 350px; 
    width: 300px;
  }
} */


.map {
  width: 900px; /* Set the width to fill the parent container */
  height: 550px; /* Set an initial height for the map container */
}

/* Media queries for responsive adjustments */
@media (max-width: 1410px) {
  .map {
    width: 800px; 
    height: 700px;

  }
}
@media (max-width: 1320px) {
  .map {
    width: 700px; 
    height: 500px;

  }
}
@media (max-width: 1220px) {
  .map {
    width: 600px;
    height:  500px;
  }
}
@media (max-width: 1120px) {
  .map {
    width: 500px;
    height:  500px;
  }
}

@media (max-width: 1020px) {
  .map {
    width: 450px;
    height:  500px;
  }
}


@media (max-width: 992px) {
  .map {
    width: 900px; /* Set the width to fill the parent container */
    height: 550px;  /* Adjust the height for screens up to 992px width */
  }
}

@media (max-width: 920px) {
  .map {
    width: 700px; /* Set the width to fill the parent container */
    height: 450px;  /* Adjust the height for screens up to 992px width */
  }
}

@media (max-width: 720px) {
  .map {
    width: 500px; /* Set the width to fill the parent container */
    height: 450px;  /* Adjust the height for screens up to 992px width */
  }
}

@media (max-width: 550px) {
  .map {
    width: 400px; /* Set the width to fill the parent container */
    height: 400px;  /* Adjust the height for screens up to 992px width */
  }
}

@media (max-width: 430px) {
  .map {
    width: 300px; /* Set the width to fill the parent container */
    height: 300px;  /* Adjust the height for screens up to 992px width */
  }
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
  background-color: #00853e;
  color: #fff;
}
.container {
  margin: 10;
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(/images/marker.png);
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}


.listings {
    height: calc(100% - 60px);
    width: 300px;
    overflow: auto;
    padding-bottom: 50px;
}

 .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

 .item:last-child {
    border-bottom: none;
}

.item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
}

.item .title small {
    font-weight: 400;
}


.title:hover {
    color: #ff0000;
}

.listings .item.active {
    background-color: #ff0000;
} 
